@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-nakula-bg: #f9f8f6;
  --color-nakula-text: #1a1a1a;
  --color-nakula-accent: #d2c8bc;
}
body {
  background-color: var(--color-nakula-bg);
  color: var(--color-nakula-text);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
